[Desktop Entry]
Type=Application
Name=FujiNet Go Astrocade
GenericName=Bally Astrocade with FujiNet
Comment=Self-contained Bally Astrocade with built-in FujiNet
Exec=fujinet-go-astrocade-gnome
Icon=online.fujinet.go.astrocade.gnome
Terminal=false
Categories=Game;Emulator;
Keywords=astrocade;bally;arcade;fujinet;emulator;z80;
StartupNotify=true
